<div style="text-align: center">
  <h1>
    A Simple Implementation of Apriori Algorithm
  </h1>
  <mat-tab-group>
    <mat-tab label="Alibaba">
      <app-extensioncomponent></app-extensioncomponent>
    </mat-tab>
    <mat-tab label="Amazon">
      <app-extensioncomponenttwo></app-extensioncomponenttwo>
    </mat-tab>
    <mat-tab label="Shoprite">
      <app-extensioncomponentthree></app-extensioncomponentthree>
    </mat-tab>
    <mat-tab label="Walmart">
      <app-extensioncomponentfour></app-extensioncomponentfour>
    </mat-tab>
    <mat-tab label="Whole Foods">
      <app-extensioncomponentfive></app-extensioncomponentfive>
    </mat-tab>
  </mat-tab-group>
</div>
